[package]
name = "plasmic_feat_genome"
version = "0.1.0"
edition = "2021"

[dependencies]
#axum = { version = "0.7", features = ["macros", "http1", "tokio"] }
axum = "0.7"
#tokio = { version = "1.40", features = ["macros", "rt-multi-thread"] }
tokio = { version = "1", features = ["full"] }
leptos = { version = "0.6.15", features = ["ssr"] }
#leptos = { version = "0.6", features = ["csr", "hydrate", "ssr"] }

#leptos_axum = "0.6"
#leptos_axum = { version = "0.6.15", features = ["ssr"] }
leptos_axum = "0.6.15"
#leptos_router = { version = "0.6", features = ["ssr"] }
#leptos_router = "0.6.15"
leptos_router = { version = "0.6.15", features = ["ssr"] }

sqlx = { version = "0.8", features = ["runtime-tokio-rustls", "postgres", "macros"] }
anyhow = "1"

#reqwest = { version = "0.12", features = ["json", "rustls-tls"] }
reqwest = { version = "0.11", features = ["json", "blocking", "multipart", "cookies", "gzip"] }
#serde = { version = "1.0", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
base64ct = { version = "=1.7.3", default-features = false }
home = "=0.5.11"

serde_json = "1"

[package.metadata.leptos]
output-name = "plasmic_feat_genome"
site-root   = "target/site"
site-addr   = "0.0.0.0:3000"
reload-port = 3001
env         = "DEV"
bin-target  = "plasmic_feat_genome"